/* Color from Nippon Colors */
:root {
  --smooth-white: #FFFFFB;  /* 胡粉 GOFUN */
  --brown: #A35E47;         /* 柿 KAKISHIBU */
  --sky: #58B2DC;           /* 空 SORA */
  --black: #373C38;         /* 藍墨茶 AISUMICHA */
  --green: #6A8372;         /* 老竹 OITAKE */
  --berry: #B5495B;         /* 莓 ICHIGO*/
  --lightgreen: #00AA90;    /* 青綠 AOMIDORI */
  --lightergray: #BDC0BA;
  --lightgray: #91989F;
}