.dot {
  display: block;
  size: 4px;
  @apply --circle;
  margin-right: 6px;
  background: rgba(var(--lighter-gray), .5);

  &.-large {
    size: 12px;
  }

  &.current {
    background: var(--dark-green);
  }

  @media (--below-mobile) {
    background: rgba(var(--lighter-gray), .8);
  }
}
