input[type="search"] {
  outline: none;
  border-width: 0;
  width: 100%;
  padding: 4pt 0 8pt;
  height: 24pt;
  font-size: 16pt;
  color: var(--black);
  background: transparent;
}

input::-webkit-input-placeholder,
input::-moz-placeholder {
  font-family: Muli;
  font-weight: 600;
}