input[type="search"] {
  outline: none;
  border-width: 0;
  size: 100% 24pt;
  padding: 4pt 0 6pt;
  font-size: 16pt;
  color: var(--black);
  background: transparent;

  @media (--below-tablet) {
    height: 16pt;
    font-size: 12pt;
    padding: 4pt 0;
  }
}

input::-webkit-input-placeholder,
input::-moz-placeholder {
  font-family: Muli;
  font-weight: 600;
}