input[type="search"] {
  size: 100% 32px;
  outline: none;
  border-width: 0;
  padding: 4px 0 8px;
  font-size: 18px;
  color: var(--black);
  background: transparent;

  @media (--below-tablet) {
    height: 24px;
    padding: 8px 0;
    font-size: 16px;
  }
}

input::-webkit-input-placeholder,
input::-moz-placeholder {
  font-family: Muli;
  font-weight: 600;
}