@import 'init/root.css';
@import 'elements/index.css';
@import 'components/index.css';
@import 'variants.css';

body {
  background-color: var(--smooth-white);
  font-family: Muli, 'Noto Sans TC', 微軟正黑體, sans-serif;
}

div, h1, h2, h3, h4, h5, h6, header, footer, section, article {
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

h1 {
  font-weight: 100;
  font-size: 3em;
}

h2, h3 { font-weight: 500; }

a {
  color: var(--blue);
  text-decoration: none;
}

#content {
  margin: var(--header-height) var(--sidebar-width) 0 var(--tab-width);

  &.-center {
    margin: var(--header-height) 120px 48px;

    @media (--below-large) { margin: var(--header-height) 80px 48px; }
    @media (--below-tablet) {
      min-height: calc(100vh - 104px - var(--footer-height) - 32px);
      margin: 104px 0 0;
    }
  }

  &.-show-all:not(.-center) { margin-left: 0; }

  @media (--below-large) { margin-right: var(--small-sidebar-width); }
}

/* DEBUG PANEL */
.elm-overlay {
  z-index: 1000;

  @media (--below-tablet) { display: none; }
}
