@import 'init/root.css';
@import 'elements/index.css';
@import 'components/index.css';
@import 'variants.css';
@import 'helpers.css';

body {
  background-color: var(--smooth-white);
  font-family: Muli, 'Noto Sans TC', 微軟正黑體, sans-serif;
}

div, h1, h2, h3, h4, h5, h6, header, footer, section, article {
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

h1 {
  font-weight: 100;
  font-size: 3em;
}

h2, h3 { font-weight: 500; }

a {
  color: var(--sky);
  text-decoration: none;
}


@media (--below-tablet) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
}


#content {
  margin: 48pt 196pt 0 40pt;

  &._center {
    margin: 48pt 120pt 40pt;

    @media (--below-large) { margin: 48pt 80pt 40pt; }
    @media (--below-tablet) { margin: 80pt 0 0; }
  }

  &._search { margin-top: 112pt; }
  &._show-all:not(._center) { margin-left: 0; }

  @media (--below-large) { margin-right: 160pt; }
  @media (--below-small) { margin-left: 32pt; }
}

/* DEBUG PANEL */
.elm-overlay {
  z-index: 1000;

  @media (--below-tablet) { display: none; }
}
