@import 'init.css';
@import 'variants.css';
@import 'elements/index.css';
@import 'components/index.css';


.main-block {
  display: grid;
    grid-template-columns: var(--tab-width) 1fr var(--sidebar-width);
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas:
      "header header sidebar"
      "tabs content sidebar";
  height: 100vh;

  &.-extend:not(.-show-all) { grid-template-columns: var(--tab-width) 1fr var(--narrow-sidebar-width); }
  &.-show-all {
    grid-template-areas:
      "header sidebar"
      "content sidebar";
  }
  &.-show-all:not(.-extend) { grid-template-columns: 1fr var(--sidebar-width); }
  &.show-all.-extend { grid-template-columns: 1fr var(--narrow-sidebar-width); }

  @media (--below-large) { grid-template-columns: var(--tab-width) 1fr var(--small-sidebar-width); }
  @media (--below-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: var(--tablet-header-height) var(--tablet-tab-height) auto 1fr;
    grid-template-areas:
      "header"
      "tabs"
      "content"
      "footer";
    align-items: end;
  }
}

.header-block {
  grid-area: header;
  position: fixed 0 var(--sidebar-width) false 0;
  height: var(--header-height);

  &.-extend { right: var(--narrow-sidebar-width); }

  @media (--below-large) { right: var(--small-sidebar-width); }
  @media (--below-tablet) {
    right: 0;
    height: var(--tablet-header-height);
  }
}

.tab-block {
  grid-area: tabs;
  position: fixed var(--header-height) false 0 0;
  width: var(--tab-width);

  @media (--below-tablet) {
    top: var(--tablet-header-height);
    right: 0;
    bottom: auto;
    width: 100%;
    height: var(--tablet-tab-height);
  }
}

.tools-sidebar {
  grid-area: sidebar;
  position: fixed 0 0 0 false;
  width: var(--sidebar-width);

  @media (--above-tablet) and (--below-large) {
    width: var(--small-sidebar-width);
  }
}

.footer {
  grid-area: footer;
}

#content {
  grid-area: content;

  &.-center {
    padding: 0 104px 48px;

    @media (--below-large) { padding: 0 80px 48px; }
    @media (--below-tablet) { padding: 0; }
  }

  &.-show-all:not(.-center) { padding-left: 0; }
}
