@import 'normalize.css';

@import 'elements/slider.pcss';
@import 'components/index.pcss';
@import 'helpers.pcss';

body {
  background: #FFF3E0;
  color: #795548;
}

#main {
  min-height: 100vh;
  padding: 0 16pt;
}