.-circle { border-radius: 50%; }
.-hide { display: none; }

.-depth {
  &-1 { box-shadow: var(--depth-1); }
  &-2 { box-shadow: var(--depth-2); }
  &-3 { box-shadow: var(--depth-3); }
  &-4 { box-shadow: var(--depth-4); }
  &-5 { box-shadow: var(--depth-5); }
}
