.action-button {
  position: fixed auto 32pt 32pt auto;
  background: var(--logo);
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 100ms linear;
  size: 48pt;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply --circle;
  @apply --depth-4;

  & > .icon { font-size: 1.8em; }

  @media (--above-tablet) { display: none; }

  @media (--below-mobile) {
    position: fixed auto 16pt 16pt auto;
    size: 40pt;
    & > .icon { font-size: 1.4em; }
  }
}