.action-block {
  @apply --circle;
  @apply --depth-3;
  position: fixed false 32px 32px false;
  size: 64px;
  background: var(--logo);
  cursor: pointer;
  transition: all 100ms linear;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  & > .action {
    @apply --flex-middle;
    @apply --circle;
    position: absolute 0 0 false false;
    size: 100%;
    color: white;
    z-index: 1000;

    & > .icon { font-size: 32px; }
  }

  & > .select {
    margin: 8px 0 0 8px;
    opacity: 0;
  }

  & > .select > .month {
    @apply --flex-middle;
    width: calc(100% / 6);

    &:nth-child(-n+6) { border-bottom: 1px solid var(--gray-light); }

    &.-selected {
      color: var(--logo);
      background: var(--smooth-white);
    }
  }

  & > .reset {
    @apply --circle;
    position: absolute 8px false false 8px;
    display: none;
    color: white;

    & > .icon { font-size: 32px; }
  }

  @media (--above-tablet) { display: none; }
  @media (--below-mobile) {
    right: 16px;
    bottom: 16px;
    size: 56px;

    & > .action > .icon { font-size: 28px; }
    & > .select { size: 24px; }
    & > .reset > .icon { font-size: 28px; }
  }
}

.action-block.-active {
  right: 28px;
  bottom: 28px;
  size: 400px 72px;
  border-radius: 36px;
  background: var(--logo);
  color: var(--smooth-white);

  & > .action {
    top: 8px;
    right: 8px;
    size: 56px;
    background: var(--smooth-white);
    color: var(--logo);
  }

  & > .select {
    display: flex;
    flex-wrap: wrap;
    size: 100% 72px;
    margin: 0;
    opacity: 1;
    padding: 0 80px 0 64px;
  }

  & > .reset {
    @apply --flex-middle;
    size: 56px;
  }

  @media (--below-mobile) {
    right: 12px;
    bottom: 12px;
    size: calc(100% - 32px) 64px;
    border-radius: 32px;

    & > .action,
    & > .reset { size: 48px; }

    & > .select {
      size: 100% 64px;
      padding: 0 64px 0 56px;
    }
  }
}
