.box-modal {
  position: fixed 8% false false 50%;
  width: 32vw;
  border-radius: 2px;
  padding: 8px 40px 32px;
  transform: translateX(-50%);
  z-index: 200;
  background: white;

  & > .close {
    position: absolute 8px 8px false false;
    color: var(--gray-light);
    cursor: pointer;

    &:hover { color: var(--gray); }
  }

  & > .close > .icon {
    font-size: 40px;
  }

  @media (--below-large) { width: 40vw; }
  @media (max-width: 1280px) { width: 48vw; }
  @media (--below-tablet) { width: 72vw; }
}

.box-content {
  width: 100%;

  & > .heading {
    margin: 32px 0 8px;
    font-size: 1.6em;
    font-weight: 400;

    @media (--below-mobile) { font-size: 1.2em; }
  }

  & > .subheading {
    margin: -4px 0 8px;
    color: var(--gray);

    @media (--below-mobile) { font-size: .8em; }
  }
}

.info-list {
  padding: 0 0 0 32px;
  line-height: 1.8em;

  & .link { font-weight: 600; }

  @media (--below-mobile) { font-size: 14px; }
}

.color-palette {
  display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

  & > .slot {
    display: block;
    width: calc(100% / 5 - 4px);
    margin: 0 4px 4px 0;
    border-radius: 2px;
    box-sizing: border-box;
    transition: all 200ms linear;

    @media (--above-tablet) {
      &:hover { @apply --depth-3; }
      &:nth-child(5n) { margin-right: 0; }
    }

    @media (--below-mobile) {
      width: calc(100% / 4 - 4px);
      &:nth-child(4n) { margin-right: 0; }
    }
  }
}

.color-box {
  position: relative;
  width: 100%;
  border-radius: 2px;
  padding-bottom: 100%;
}

.color-box > .info {
  position: absolute 50% false false 50%;
  transform: translate(-50%, -50%);

  & > span {
    display: block;
    text-align: center;
  }

  & > .name {
    font-size: 1em;
    @media (--below-mobile) { font-size: 14px; }
  }

  & > .hex {
    margin-top: 8px;
    font-size: .6em;
    font-weight: 800;
  }
}
