.dimmer {
  position: fixed 0;
  background: rgba(var(--black), .8);
  size: 100vw 100vh;
  z-index: 150;
  transition: all 200ms linear;

  &.-disabled {
    opacity: 0;
    visibility: hidden;
  }
}
