.footer {
  font-size: 16px;

  & .middot { margin: 0 8px; }
  & .links { margin-top: 4px; }

  @media (--above-tablet) {
    position: absolute false false 24px 24px;
  }

  @media (--below-tablet) {
    margin-top: 32px;
    padding: 0 16px 24px;
  }
}

@media (--above-tablet) {
  main > .footer { display: none; }
}
