.header-block {
  position: fixed 0 auto auto 0;
  display: flex;
  align-items: center;
  width: calc(100% - 200pt);
  height: 48pt;
  border-bottom: 1px solid rgba(var(--lighter-gray), .4);
  padding: 0 24pt;
  background: var(--smooth-white);
  color: var(--black);
  z-index: 110;

  @media (max-width: 1440px) {
    width: calc(100% - 160pt);
  }

  @media (max-width: 976px) {
    @apply --depth-2;
    width: 100%;
    padding: 0 8pt 0 16pt;
    background: var(--logo);

    & > .search-bar {
      display: none;
    }
  }

  & > .logo {
    display: inline-block;
    height: 20pt;
    width: auto;
    margin: 0;
  }
}

.header-block.-extend {
  width: calc(100% - 40pt);

  @media (max-width: 1120px) {
    width: calc(100% - 36pt);
  }
}

.search-bar {
  flex-grow: 2;
  display: inline-flex;
  align-items: center;
  margin: 0 16pt 0 40pt;

  @media (max-width: 1120px) {
    margin-left: 24pt;
  }

  & > .label {
    margin-right: 8pt;
    font-size: 24pt;
    cursor: pointer;
  }
}

.right-menu {
  display: inline-flex;
  align-items: center;
  margin-left: auto;

  & > .btn {
    @apply --depth-1;
    width: 24pt;
    height: 24pt;
    margin-left: 16pt;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 100ms linear;
    background: var(--green);
    color: white;

    @media (min-width: 977px) {
      &:hover {
        @apply --depth-3;
      }
    }

    @media (max-width: 976px) {
      @apply --depth-0;
      margin-left: 8pt;
      background: transparent;
    }

    & > .icon {
      line-height: 24pt;
    }
  }

  & > .info-btn > .icon {
    transform: rotate(180deg);
  }

  & > .tools-btn {
    cursor: pointer;

    @media (min-width: 977px) {
      @apply --depth-0;
      position: absolute;
      right: 0;
      transform: translateX(50%);
      border-radius: 0;
      background: var(--smooth-white);
      color: var(--light-green);
      height: 32pt;

      & > .icon {
        font-size: 32px;
        line-height: 32pt;
      }

      &:hover {
        @apply --depth-0;
        color: var(--green);
      }
    }
  }
}
