.header-block {
  margin: 0 -16pt 32pt;
  padding: 12pt 16pt;
  color: var(--green);

  > .header {
    display: inline-block;
    margin: 0;
    height: 48px;
    width: auto;
  }
}

.right-menu {
  float: right;
  color: var(--green);
  font-size: 3em;

  > a:visited {
    color: var(--green);
  }
}
