.header-block {
  position: fixed 0 false false 0;
  width: calc(100% - 196pt);
  min-height: 48pt;
  border-bottom: 1px solid rgba(var(--lighter-gray), .4);
  padding: 0 24pt;
  background: var(--smooth-white);
  color: var(--black);
  z-index: 110;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.-extend {
    width: calc(100% - 40pt);

    @media (--below-small) { width: calc(100% - 36pt); }
  }

  @media (--below-large) { width: calc(100% - 160pt); }
  @media (--below-tablet) {
    width: 100%;
    min-height: 32pt;
    border-bottom-width: 0;
    padding: 8pt 4pt 8pt 16pt;
    background: var(--berry);
  }
}

.main-nav {
  display: flex;
  align-items: center;
  width: 100%;

  & > .logo {
    display: inline-block;
    height: 20pt;
    width: auto;
    margin: 0;

    @media (--below-tablet) { display: none; }
  }
}

.search-bar {
  flex-grow: 2;
  display: flex;
  align-items: center;
  margin: 0 16pt 0 40pt;

  & > .label {
    margin-right: 8pt;
    cursor: pointer;
  }

  & .icon {
    font-size: 24pt;
    vertical-align: middle;

    @media (--below-tablet) { font-size: 20px; }
  }

  @media (--below-small) { margin-left: 24pt; }
  @media (--above-tablet) {
    & > .clear { display: none; }
  }
  @media (--below-tablet) {
    @apply --depth-2;
    display: flex;
    width: 100%;
    margin: 0 4pt 0 -8pt;
    border-radius: 2px;
    padding: 8pt;
    background: white;
  }
}

.right-menu {
  display: inline-flex;
  align-items: center;
  margin-left: auto;

  & > .btn {
    @apply --depth-1;
    size: 24pt;
    margin-left: 16pt;
    text-align: center;
    cursor: pointer;
    transition: all 100ms linear;
    background: var(--green);
    color: white;
    user-select: none;

    & > .icon { line-height: 24pt; }

    @media (--above-tablet) {
      &:hover { @apply --depth-3; }
    }

    @media (--below-tablet) {
      @apply --depth-0;
      margin-left: 4pt;
      background: transparent;
    }
  }

  & > .info-btn > .icon { transform: rotate(180deg); }

  & > .tools-btn {
    cursor: pointer;
    @apply --depth-0;
    position: absolute;
    right: 0;
    transform: translateX(50%);
    border-radius: 0;
    background: var(--smooth-white);
    color: var(--light-green);
    height: 32pt;

    &:hover {
      @apply --depth-0;
      color: var(--green);
    }

    & > .icon {
      font-size: 32px;
      line-height: 32pt;
    }
  }

  @media (--below-tablet) { display: none; }
}
