.header-block {
  margin: 0 -16pt 32pt;
  padding: 12pt 16pt;
  color: var(--green);

  > .header {
    display: inline-block;
    margin: 0;
    height: 32pt;
    width: auto;
  }
}

.right-menu {
  float: right;
  margin-top: -3pt;
  color: var(--green);
  font-size: 36pt;

  > a,
  > a:visited {
    color: var(--green);
  }
}


@media screen and (max-width: 768px) {
  .header-block > .header {
    height: 24pt;
  }

  .right-menu {
    font-size: 30pt;
  }
}