.food-shelf {
  flex: 0 1 100%;
  padding: 24px;

  & > .species:first-of-type .label { margin-top: 0; }

  @media (--below-mobile) { padding: 0; }
}

.layer {
  display: flex;

  & > .label {
    position: relative;
    writing-mode: vertical-rl;
    display: flex;
      align-items: center;
    margin: 8px 16px 0 0;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 300;
    color: var(--berry);

    &::after {
      content: '';
      position: absolute 0 -4px false false;
      size: 2px 4em;
      background: var(--berry);

      @media (--below-small) {
        position: absolute auto auto -8px 0;
        size: 4em 2px;
      }

      @media (--below-mobile) { width: 32%; }
    }

    @media (--above-small) { min-width: 40px; }
    @media (--below-small) {
      margin: 8px 8px 40px;
      padding: 0;
      writing-mode: horizontal-tb;
      font-size: 28px;
    }
  }

  & > .goods {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
  }

  @media (--above-tablet) { margin-bottom: 32px; }
  @media (--below-small) { flex-flow: column; }
}

.food-info {
  position: relative;
  border-radius: 2px;
  display: flex;
  transition: all 160ms linear;
  overflow: hidden;

  &:hover {
    background: white;
    @apply --depth-1;
  }

  & > .media { overflow: hidden; }

  & > .harvest-calendar {
    display: flex;
    counter-reset: div;

    & > .dot {
      display: block;
      size: 4px;
      @apply --circle;
      background: rgba(var(--gray-light), .5);

      & + .dot { margin-left: 8px; }

      &::before {
        counter-increment: div;
        line-height: 1;
        color: var(--gray);
      }

      &.current { background: var(--green-dark); }
      &.current::before {
        color: var(--green);
        font-weight: 700;
        font-size: 1.15em;
      }
    }
  }

  & > .name {
    font-size: 1.1em;
    color: var(--black);
  }
}

.food-info.-card {
  width: calc(100% / 8);
  margin-bottom: 8px;
  padding: 8px;
  flex-direction: column;

  & > .media {
    width: 100%;
  }

  & > .media > .img {
    size: 100% auto;

    @media (--below-mobile) {
      size: auto 100%;
      transform: translateX(-8px);
    }
  }

  & > .harvest-calendar {
    size: 100% 4px;
    margin: 12px 0;
    display: flex;
    order: 1;
  }

  & > .name {
    display: block;
    margin: 0 0 12px;
    order: 2;
  }

  @media (max-width: 1600px) { width: calc(100% / 7); }
  @media (max-width: 1380px) { width: calc(100% / 6); }
  @media (max-width: 1280px) { width: calc(100% / 5); }
  @media (--below-small) { width: calc(100% / 4); }
  @media (--below-mobile) {
    display: block;
    size: 100% auto;
    @apply --depth-1;
    margin: 8px 4px 0;
    padding: 0;
    background: white;

    & > .media,
    & > .name { float: left; }

    & > .media {
      size: 64px;
      border-radius: 0;
    }

    & > .name {
      height: calc(100% - 24px);
      display: flex;
      align-items: center;
      font-size: 1em;
      margin: 0;
      padding-left: 8px;
    }

    & > .harvest-calendar {
      size: calc(100% - 64px) 24px;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      border-top: 1px solid rgba(var(--gray-light), .4);
      padding: 0;
      position: absolute false 0 0 false;

      & > .dot {
        size: calc(100% / 12) 100%;
        margin-left: 0;
        @apply --flex-middle;
        border-radius: 0;
        font-size: 12px;
        background: transparent;
      }

      & > .dot::before { content: counter(div); }
    }
  }
}

.food-info.-list {
  width: 100%;
  padding: 8px 16px;
  align-items: center;

  & > .media {
    size: 56px;
    @apply --circle;
  }

  & > .media > .img {
    size: auto 100%;
    transform: translateX(-8px);
  }

  & > .harvest-calendar {
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;

    & > .dot {
      size: calc(100% / 12) auto;
      margin-right: 0;
      @apply --flex-middle;
      background: transparent;
    }

    & > .dot::before {
      content: counter(div)' 月';
    }
  }

  & > .name {
    width: 6.5em;
    padding-left: 24px;
  }
}
