.food-shelf {
  flex: 0 1 100%;
  padding: 24px;

  & > .species:first-of-type .label { margin-top: 0; }

  @media (--below-mobile) { padding: 0; }
}

.layer {
  display: flex;

  & > .label {
    position: relative;
    display: flex;
      align-items: flex-end;
    margin: 8px 0 0 0;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 300;
    color: var(--berry);
    writing-mode: vertical-rl;
    width: 48px;

    &::after {
      content: '';
      position: absolute 0 8px false false;
      size: 2px 4em;
      background: var(--berry);

      @media (--below-small) {
        position: absolute auto auto -8px 0;
        size: 4em 2px;
      }

      @media (--below-mobile) { width: 32%; }
    }

    @media (--above-small) { min-width: 40px; }
    @media (--below-small) {
      margin: 8px 8px 40px;
      padding: 0;
      writing-mode: horizontal-tb;
      font-size: 28px;
    }
  }

  @media (--above-tablet) { margin-bottom: 32px; }
  @media (--below-small) { flex-flow: column; }
}

.goods-layout {
  display: grid;
    grid-gap: 8px 0;
    grid-template-columns: repeat(8, 1fr);
  flex-wrap: wrap;
  flex-grow: 1;
  width: calc(100% - 48px);

  &.-card {
    grid-gap: 8px 0;
    grid-template-columns: repeat(8, 1fr);

    @media (max-width: 1600px) { grid-template-columns: repeat(7, 1fr); }
    @media (max-width: 1380px) { grid-template-columns: repeat(6, 1fr); }
    @media (max-width: 1280px) { grid-template-columns: repeat(5, 1fr); }
    @media (--below-small) {
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }
    @media (--below-mobile) {
      padding: 8px;
      grid-gap: 8px 0;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.-list {
    grid-gap: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}

.food-info {
  position: relative;
  display: flex;
  border-radius: 2px;
  transition: all 160ms linear;
  overflow: hidden;

  & > .media { overflow: hidden; }

  & > .harvest-calendar {
    display: flex;
    counter-reset: div;

    & > .dot {
      display: block;
      size: 4px;
      @apply --circle;
      background: rgba(var(--gray-light), .5);

      & + .dot { margin-left: 8px; }

      &::before {
        counter-increment: div;
        line-height: 1;
        color: var(--gray);
      }

      &.current { background: var(--green-dark); }
      &.current::before {
        color: var(--green);
        font-weight: 700;
        font-size: 1.15em;
      }
    }
  }

  & > .harvest-hint {
    order: 3;
    padding: 4px 0 0;
    font-size: 12px;
    transform: scale(.9);

    &.-now { color: var(--green); }
    &:not(.-now) { color: var(--gray-light); }
  }

  & > .name {
    font-size: 1.1em;
    color: var(--black);
  }

  @media (--above-mobile) {
    &:hover {
      background: white;
      @apply --depth-1;
    }

    & > .harvest-hint { display: none; }
  }
}

.goods-layout.-card .food-info {
  flex-direction: column;
  padding: 8px;

  & > .media {
    width: 100%;
  }

  & > .media > .img {
    size: 100% auto;
  }

  & > .harvest-calendar {
    display: flex;
    size: 100% 4px;
    margin: 12px 0;
    order: 1;
  }

  & > .name {
    display: block;
    margin: 0 0 12px;
    order: 2;
  }

  @media (--below-mobile) {
    & > .media {
      border-radius: 4px;
      size: calc((100vw - (8px * 8)) / 3);
    }

    & > .media > .img {
      object-fit: cover;
      size: 100%;
    }

    & > .name {
      font-size: 16px;
      margin: 0;
      padding: 12px 0 0;
    }

    & > .harvest-calendar {
      display: none;
    }
  }
}

.goods-layout.-list .food-info {
  align-items: center;
  padding: 8px 16px;

  & > .media {
    @apply --circle;
    size: 56px;
  }

  & > .media > .img {
    size: auto 100%;
    transform: translateX(-8px);
  }

  & > .harvest-calendar {
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;

    & > .dot {
      @apply --flex-middle;
      size: calc(100% / 12) auto;
      margin-right: 0;
      background: transparent;
    }

    & > .dot::before {
      content: counter(div)' 月';
    }
  }

  & > .name {
    width: 6.5em;
    padding-left: 24px;
  }
}
