.food-shelf {
  flex: 0 1 100%;
  padding: 16pt;

  @media (max-width: 1120px) {
    padding: 8pt;
  }

  & > .species:first-of-type .label {
    margin-top: 0;
  }
}

.layer {
  margin-bottom: 40pt;
  display: flex;

  & > .label {
    position: relative;
    writing-mode: vertical-rl;
    margin: 8pt 8pt 0 0;
    width: 32pt;
    font-size: 2em;
    line-height: 1.7em;
    letter-spacing: 1pt;
    padding-right: 2pt;
    font-weight: 300;
    color: var(--berry);

    &::after {
      content: '';
      position: absolute 0 0 auto auto;
      width: 1.6pt;
      height: 3.2em;
      background: var(--berry);
    }
  }

  & > .goods {
    display: inline-flex;
    flex-wrap: wrap;
    flex-grow: 2;
  }
}

.food-card {
  position: relative;
  border-radius: 2px;
  width: calc(100% / 8);
  margin-bottom: 8pt;
  padding: 8pt 8pt 16pt;
  transition: all 160ms linear;

  @media (max-width: 1600px) {
    width: calc(100% / 7);
  }

  @media (max-width: 1380px) {
    width: calc(100% / 6);
  }

  @media (max-width: 1280px) {
    width: calc(100% / 5);
  }

  @media (max-width: 1120px) {
    width: calc(100% / 4);
  }

  &:hover {
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }

  & > .media {
    width: 100%;
    overflow: hidden;
  }

  & > .media > .img {
    display: block;
    width: 100%;
    height: auto;
  }

  & > .info {
    margin-top: 8pt;
    color: var(--black);
  }

  & > .info > .name {
    display: block;
    font-size: 1.1em;
  }

  & > .info > .copyright {
    float: left;
    text-decoration: none;
    font-size: 12px;
    padding: 4pt 0 0;
    font-weight: 400;
  }
}

.harvest-light {
  width: 100%;
  margin: 8pt 0;
  height: 4px;

  & > .dot {
    float: left;
  }
}
