.food-list {
  padding: 24pt;

  &._show-all {
    padding: 24pt 24pt 24pt 16pt;

    & .table-content {
      padding-left: 8pt;
    }
  }
}

.food-table {
  margin-bottom: 48pt;
  display: flex;

  & > .label {
    position: relative;
    writing-mode: vertical-rl;
    margin: 0 8pt 0 0;
    width: 32pt;
    font-size: 2em;
    line-height: 1.7em;
    letter-spacing: 1pt;
    padding-right: 2pt;
    font-weight: 300;
    color: var(--berry);

    &::after {
      content: '';
      position: absolute 0 0 auto auto;
      width: 1.6pt;
      height: 3.2em;
      background: var(--berry);
    }
  }

  & > .table-content {
    flex-grow: 2;
  }
}

.table-head {
  color: white;
  background: var(--berry);

  & > th {
    padding: 8pt 0;
    font-size: 1.4em;
    font-weight: 300;
  }

  & > th:first-child {
    border-radius: 2px 0 0 2px;
    padding-left: 8pt;
    width: calc(6em + 64pt);
    text-align: left;
  }

  & > th:nth-last-child(-n+12) {
    width: calc(80% / 12);
  }

  & > th:last-child {
    border-radius: 0 2px 2px 0;
  }
}

.table-body {
  & > .row:not(._extra-spacing) {
    border-bottom: 1px solid rgba(var(--lighter-gray), .2);

    & > td:first-child {
      padding: 8pt 0 8pt 8pt;
      font-size: 1.2em;
    }

    &:last-of-type {
      border-bottom-width: 0;
    }

    &:hover {
      background: rgba(var(--lighter-gray), .3);
    }
  }

  & > .row._extra-spacing > td {
    padding: 4pt;
  }

  & .dot {
    margin: 0 auto;
  }
}
