.ingredients-table {
  & > .row {
    border-bottom: 1px solid rgba(121, 85, 72, .1);
    line-height: 2em;
  }

  & > .row:last-of-type {
    border-bottom-width: 0;
  }

  & > .row > .subdata {
    color: #a96c43;
  }

  & > .row .label {
    width: 8em;
    display: inline-block;
  }

}