.tab-block {
  position: fixed 48pt auto auto 0;
  border-right: 1px solid rgba(var(--lighter-gray), .4);
  background: var(--smooth-white);
  size: 40pt calc(100vh - 48pt);
  z-index: 100;
  padding-top: 24pt;

  @media (--below-small) {
    width: 32pt;
    padding-top: 16pt;
  }

  @media (--below-tablet) {
    top: 40pt;
    size: 100% auto;
    padding-top: 0;
    overflow-x: auto;
    border-right-width: 0;
    @apply --depth-1;
    background: var(--berry);

    &._search-active {
      top: 80pt;
    }
  }
}

.tab-list {
  size: 100%;
  writing-mode: vertical-lr;
  font-size: 16pt;
  line-height: 34pt;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;

  @media (--below-small) {
    font-size: 14pt;
    line-height: 30pt;
  }

  @media (--below-tablet) {
    position: relative;
    height: 40pt;
    line-height: 40pt;
    font-size: 12pt;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    writing-mode: horizontal-tb;

    &::after {
      content: '';
      position: absolute auto auto 0 0;
      size: 100% 1px;
    }
  }

  & > .tab {
    position: relative;
    display: inline-block;
    size: 100% calc(32pt + 48pt);
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 4pt;
    text-align: center;
    opacity: .65;
    color: var(--berry);
    user-select: none;

    &.current {
      font-weight: 500;
      opacity: 1;
    }

    &.current::after {
      content: '';
      position: absolute 0 -1px auto auto;
      size: 4pt 100%;
      background: var(--berry);
      z-index: 400;

      @media (--below-small) {
        width: 2pt;
      }

      @media (--below-tablet) {
        position: absolute auto auto -1px 0;
        size: 100% 2pt;
      }
    }

    &:not(.current):hover {
      border-right: 3pt solid rgba(var(--berry), .4);
      opacity: .9;

      @media (--below-small) {
        border-right: 2pt solid rgba(var(--berry), .4);
      }

      @media (--below-tablet) {
        border-right-width: 0;
      }
    }

    @media (--below-small) {
      height: 64pt;
    }

    @media (--below-tablet) {
      min-width: 72pt;
      height: 40pt;
      color: var(--smooth-white);

      &.current::after {
        background: var(--smooth-white);
      }
    }
  }
}
