.tab-block {
  position: fixed var(--header-height) false false 0;
  size: var(--tab-width) calc(100vh - var(--header-height));
  box-shadow: inset -1px 0 0 0 rgba(var(--gray-light), .4);
  padding-top: 32px;
  background: var(--smooth-white);
  z-index: 100;

  @media (--below-tablet) {
    @apply --depth-1;
    top: var(--tablet-header-height);
    size: 100% 48px;
    border-right-width: 0;
    padding-top: 0;
    background: var(--berry);
    overflow-x: auto;
  }
}

.tab-list {
  position: relative;
  display: flex;
  size: 100%;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  writing-mode: vertical-lr;

  @media (--below-tablet) {
    display: flex;
    height: 48px;
    font-size: 16px;
    overflow-y: hidden;
    overflow-x: auto;
    writing-mode: horizontal-tb;

    &::-webkit-scrollbar { display: none; }
  }

  & > .tab {
    position: relative;
    display: inline-block;
    size: 100% 88px;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 4px;
    text-align: center;
    opacity: .65;
    color: var(--berry);
    user-select: none;
    @apply --flex-middle;

    &::after {
      content: '';
      position: absolute 0 0 false false;
      size: 2px 100%;
      z-index: 400;
    }

    &.current {
      font-weight: 500;
      opacity: 1;

      &::after {
        background: var(--berry);

        @media (--below-tablet) {
          position: absolute auto auto 0 0;
          size: 100% 4px;
          background: var(--smooth-white);
        }
      }
    }

    &:not(.current):hover {
      opacity: .9;

      @media (--above-tablet) {
        &::after { background: rgba(var(--berry), .4); }
      }
    }

    @media (--below-tablet) {
      min-width: 120px;
      height: 48px;
      color: var(--smooth-white);
    }
  }
}
