.tab-block {
  position: fixed 48pt auto auto 0;
  border-right: 1px solid rgba(var(--lighter-gray), .4);
  background: var(--smooth-white);
  width: 40pt;
  height: calc(100vh - 48pt);
  z-index: 100;
  padding-top: 24pt;

  @media (max-width: 1120px) {
    width: 32pt;
    padding-top: 16pt;
  }

  @media (max-width: 976px) {
    top: 40pt;
    left: 0;
    bottom: auto;
    width: 100%;
    height: auto;
    padding-top: 0;
    overflow-x: auto;
    background: rgba(var(--lighter-gray), .16);
    border-bottom: 1px solid rgba(var(--lighter-gray), .4);

    &._search-active {
      top: 80pt;
    }
  }
}

.tab-list {
  width: 100%;
  height: 100%;
  writing-mode: vertical-lr;
  font-size: 16pt;
  line-height: 34pt;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;

  @media (max-width: 1120px) {
    font-size: 14pt;
    line-height: 30pt;
  }

  @media (max-width: 976px) {
    height: 32pt;
    line-height: 32pt;
    font-size: 12pt;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    writing-mode: horizontal-tb;
  }

  & > .tab {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(32pt + 48pt);
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 4pt;
    text-align: center;
    opacity: .65;
    color: var(--berry);

    @media (max-width: 1120px) {
      height: 64pt;
    }

    @media (max-width: 976px) {
      min-width: 80pt;
      height: 32pt;
    }

    &.current {
      font-weight: 500;
      opacity: 1;
    }

    &.current:after {
      content: '';
      position: absolute 0 -1px auto auto;
      width: 4pt;
      height: 100%;
      background: var(--berry);
      z-index: 400;

      @media (max-width: 1120px) {
        width: 2pt;
      }

      @media (max-width: 976px) {
        position: absolute auto auto -1px 0;
        width: 100%;
        height: 2pt;
      }
    }

    &:not(.current):hover {
      border-right: 3pt solid rgba(var(--berry), .4);
      opacity: .9;

      @media (max-width: 1120px) {
        border-right: 2pt solid rgba(var(--berry), .4);
      }
    }
  }
}
