.tools-sidebar {
  position: fixed 0 0 false false;
  size: var(--sidebar-width) 100vh;
  box-shadow: inset 1px 0 0 0 rgba(var(--gray-light), .4);
  padding: 24px 22px;
  background: var(--smooth-white);
  z-index: 100;

  @media (--above-tablet) and (--below-large) {
    width: var(--small-sidebar-width);
    padding: 24px 14px 0;
  }

  @media (--below-tablet) { display: none; }
}

.tools-sidebar.-narrow {
  width: var(--narrow-sidebar-width);
  padding: 32px 8px;

  & > .options-block:first-child,
  & > .footer { display: none; }

  @media (--below-large) {
    padding: 32px 10px;
  }
}

.options-block {
  & + .options-block { margin-top: 32px; }
  & + .options-block.-narrow { margin-top: 24px; }

  & > .heading {
    margin: 0 0 12px;
    font-size: 16px;
    color: var(--gray);

    @media (--above-tablet) and (--below-large) { font-size: 1em; }
  }
}

.display-switch {
  position: relative;
  display: flex;
    justify-content: space-between;
  margin-bottom: 8px;
  color: var(--green);
  transition: all 320ms linear;

  &::before {
    content: '';
    position: absolute 0 false false 0;
    size: calc(50% - 4px) 100%;
    border-radius: 2px;
    background: var(--green);
    z-index: -1;
    transition: all 200ms linear;
  }

  & > .opt {
    @apply --flex-middle;
    width: calc(50% - 4px);
    border-radius: 2px;
    padding: 8px 0;
    cursor: pointer;
  }

  &.toggle::before { left: calc(50% + 4px); }

  &:not(.toggle) > .opt:first-child,
  &.toggle > .opt:last-child { color: white; }

  &:not(.toggle) > .opt:last-child:hover,
  &.toggle > .opt:first-child:hover { background: rgba(var(--gray-light), .4); }

  & > .tag {
    font-size: 14px;
    @media (--below-large) { font-size: 12px; }
  }

  & > .layout {
    padding: 12px 0;
    @media (--below-large) { padding: 10px 0;  }
  }

  & > .layout > .icon {
    font-size: 24px;
    @media (--below-large) { font-size: 20px; }
  }

  @media (--below-small) {
    &:first-child { display: none; }
  }
}

.options-block.-narrow  {
  & > .heading {
    margin-bottom: 4px;
    text-align: center;
  }

  & > .calendar-filter { padding: 0; }
  & > .calendar-filter > .month + .month { margin-left: 0; }
}

.calendar-filter {
  display: flex;
    flex-wrap: wrap;
  font-weight: 200;
  color: var(--black);

  & > .month {
    display: inline-flex;
      align-items: center;
      justify-content: center;
    size: 32px;
    margin-bottom: 4px;
    border: 1px solid var(--gray-light);
    cursor: pointer;
    transition: all 120ms linear;
    font-size: 14px;

    @media (--above-tablet) and (--below-large) {
      size: 28px;
      font-size: 14px;
    }
  }

  & > .month + .month:not(:nth-child(7)) {
    margin-left: 4px;
  }

  & > .month.-highlight,
  & > .month.-selected,
  & > .month:hover {
    font-weight: 600;
    color: var(--green-light);
  }

  & > .month.-highlight:not(.-selected) {
    background: var(--green-light);
    border-color: var(--green-light);
  }

  & > .month:not(.-selected):hover {
    background: rgba(var(--gray-light), .4);
    border-color: rgba(var(--gray-light), .1);
  }

  & > .month.-selected {
    background: var(--green);
    border-color: var(--green);
  }
}
