.tools-sidebar {
  position: fixed 0 0 auto auto;
  width: 200pt;
  height: 100vh;
  border-left: 1px solid rgba(var(--lighter-gray), .4);
  padding: 24pt 16pt 0;
  background: var(--smooth-white);
  color: var(--black);
  z-index: 100;


  @media (max-width: 1440px) {
    width: 160pt;
    padding: 16pt 12pt 0;
  }
}

.options-block {
  margin-bottom: 32pt;

  & > .heading {
    margin: 0 0 8pt;
    font-size: 1.2em;

    @media (max-width: 1440px) {
      font-size: 1em;
    }
  }
}

.display-switch {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8pt;
  color: var(--green);
  transition: all 320ms linear;

  &::before {
    content: '';
    position: absolute 0 auto auto 0;
    width: calc(50% - 2pt);
    height: 100%;
    border-radius: 2pt;
    background: var(--green);
    z-index: -1;
    transition: all 200ms linear;
  }

  &.toggle::before {
    left: calc(50% + 2pt);
  }

  & > ._active {
    color: white;
  }

  & > .opt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 2pt);
    border-radius: 2pt;
    text-align: center;
    cursor: pointer;
  }

  & > .opt:not(._active):hover {
    background: rgba(var(--lighter-gray), .4);
  }

  & > .tag {
    padding: 6pt 0;
    font-size: 10pt;
    @media (max-width: 1440px) {
      font-size: 8pt;
    }
  }

  & > .layout {
    padding: 8pt 0;
  }

  & > .layout > .icon {
    font-size: 20pt;
    @media (max-width: 1440px) {
      font-size: 16pt;
    }
  }
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 200;

  & > .month {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24pt;
    height: 24pt;
    margin-bottom: 4pt;
    border: 1px solid var(--lighter-gray);
    border-radius: 50%;
    cursor: pointer;
    transition: all 120ms linear;
    font-size: 14pt;

    @media (max-width: 1440px) {
      width: 20pt;
      height: 20pt;
      font-size: 14px;
    }
  }

  & > .month._highlight,
  & > .month._selected,
  & > .month:hover {
    font-weight: 600;
    color: var(--smooth-white);
  }

  & > .month._highlight:not(._selected) {
    background: var(--light-green);
    border-color: var(--light-green);
  }

  & > .month:not(._selected):hover {
    background: rgba(var(--lighter-gray), .4);
    border-color: rgba(var(--lighter-gray), .1);
  }

  & > .month._selected {
    background: var(--green);
    border-color: var(--green);
  }
}
